# Virtual environments & Python cache
.venv/
venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Node / Frontend
node_modules/
.dist/
dist/

# Outputs and Generated Data
output/

# .json without ignoring project config files
*.json
!package.json
!package-lock.json
!tsconfig*.json

# Jupyter
.ipynb_checkpoints/